/*Fixes*/
* { box-shadow: none !important; outline: none !important; }

/*p { text-align: justify; }*/
/*span[data-toggle=tooltip] { cursor: help; }*/
/*.link-muted, .link-muted:focus, .link-muted:hover { color: #333; }*/
/*.media { margin-top: 50px; }*/
/*.media > .pull-left { margin: 75px 40px 0 0; }*/
/*.media .list-unstyled { margin-left: 12px; }*/
/*.media .list-unstyled li:first-letter { display:inline-block; margin-left: -10px; padding-left: 5px; border-left: 5px solid #eee; }*/
/*.nav > li > a { display: inline-block; }*/
/*.nav li > a:focus, .nav li > a:hover { background: transparent; text-decoration: underline; }*/
/*.nav-narrow > li > a { padding: 10px 0; }*/
/*.sidebar.affix { position: fixed; top: 75px; }*/
/*.sidebar ul ul { display: none; font-size: 14px; }*/
/*.sidebar ul ul li > a { padding-left: 25px; }*/
/*.sidebar ul li.active > a { font-weight: bolder; }*/
/*.sidebar ul ul li.active > a { font-weight: bolder; }*/
/*.sidebar .active ul { display: block; }*/
/*.text-capital { font-variant: small-caps; }*/
/*.text-muted a { color: #999; }*/
/*.text-muted a:focus, .text-muted a:hover { color: #888; }*/
/*Fonts*/

@font-face {
  font-family: "Montserrat-Regular";
  src: url('../fonts/Montserrat-Regular.otf');

  /*TODO add eot file for IE*/
}

@font-face {
  font-family: "Pacifico";
  src: url('../fonts/Pacifico.ttf');

  /*TODO add eot file for IE*/
}

@font-face {
  font-family: "Raleway-Regular";
  src: url('../fonts/Raleway-Regular.ttf');

  /*TODO add eot file for IE*/
}

@font-face {
  font-family: "Georgia";
  src: url('../fonts/Georgia.ttf');
}

@font-face {
  font-family: "Georgia-Italic";
  src: url('../fonts/GeorgiaItalic.ttf');
}

/*Typography*/

.landing-heading {
  font-family: Montserrat-Regular;
  font-size: 30pt;
}

.landing-subheading {
  font-family: Pacifico;
  font-size: 29pt;
  color: #7bc1c9;
}

.landing-paragraph {
  font-family: Raleway-Regular;
  font-size: 16pt;
  color: #a7a7a7;
}

.menu-item {
  font-family: Montserrat-Regular;
  font-size: 10pt;
  color: #a7a7a7;
}

.email-form {
  font-family: Georgia;
  background-color: #f2f2f2;
}

.footer-caption {
  font-family: Raleway-Regular;
  font-size: 16pt;
  margin-top: 30px;
  color: #6e6e6e;
}

.team-description {
  font-family: Georgia-Italic;
  font-weight: bold;
}

.team-email {
  font-family: Georgia-Italic;
}

.team-member {
  font-family: Montserrat-Regular;
}

h1, h2 {
  padding-top: 105px;
}

.navbar-default .navbar-nav>li>a {
  color: #a7a7a7;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #777;
}

/*-----------------------------------------*/
body {
  margin-top: 110px;
}

#header-navbar {
  padding: 0;
  margin: 0;
}

.navbar-right {
  padding-right: 45px;
}

footer {
  background-color: #4f4f4f;
  height: 80px;
  margin-top: 10px;
}

.btn-send {
  color: white;
  background-color: #6ebec7;
  border-color: white;
  border: 2px;
}

.input-lg {
  height: 76px;
}

.form-control {
  margin-top: 20px;
  border-radius: 0;
}

.glyphicon {
  padding-right: 10px;
}

.navbar {
  height: 110px;
  margin-bottom: 0;
  background-color: white;
}

.navbar-right {
  margin-right: 30px;
}

.navbar-brand {
  height: auto;
}

.work-thumbnail {
  margin-bottom: 50px;
}

.img-team {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.down-button {
  width: 65px;
  height: auto;
  margin-bottom: -10px;
  opacity: 0.5;
}

.down-button:hover {
    opacity: 1;
}

.up-button.img-responsive {
  margin-left: auto;
  margin-right: auto;

  margin-top: 10px;
  margin-bottom: 5px;
}
    
.landing-separator {
  border: none;
  height: 3px;
  color: #303030;
  background-color: #303030;
}

ul.nav {
  margin-top: 30px;
}

#team {
  background-color: #f3f3f3;
  padding-bottom: 70px;
}

.carousel-indicators {
    margin-bottom: -15px;
}

.carousel-indicators li {
    background-color: white;
}

.carousel-indicators .active {
    background-color: #7bc1c9;
    border-color: #7bc1c9;
}

.navbar-header {
  padding-left: 42.5%;
}