/*Fixes*/
* { box-shadow: none !important; outline: none !important; }

/*p { text-align: justify; }*/
/*span[data-toggle=tooltip] { cursor: help; }*/
/*.link-muted, .link-muted:focus, .link-muted:hover { color: #333; }*/
/*.media { margin-top: 50px; }*/
/*.media > .pull-left { margin: 75px 40px 0 0; }*/
/*.media .list-unstyled { margin-left: 12px; }*/
/*.media .list-unstyled li:first-letter { display:inline-block; margin-left: -10px; padding-left: 5px; border-left: 5px solid #eee; }*/
/*.nav > li > a { display: inline-block; }*/
/*.nav li > a:focus, .nav li > a:hover { background: transparent; text-decoration: underline; }*/
/*.nav-narrow > li > a { padding: 10px 0; }*/
/*.sidebar.affix { position: fixed; top: 75px; }*/
/*.sidebar ul ul { display: none; font-size: 14px; }*/
/*.sidebar ul ul li > a { padding-left: 25px; }*/
/*.sidebar ul li.active > a { font-weight: bolder; }*/
/*.sidebar ul ul li.active > a { font-weight: bolder; }*/
/*.sidebar .active ul { display: block; }*/
/*.text-capital { font-variant: small-caps; }*/
/*.text-muted a { color: #999; }*/
/*.text-muted a:focus, .text-muted a:hover { color: #888; }*/

/* Custom container width */
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/*Fonts*/

@font-face {
  font-family: "Montserrat-Regular";
  src: url('../fonts/Montserrat-Regular.otf');

  /*TODO add eot file for IE*/
}

@font-face {
  font-family: "Pacifico";
  src: url('../fonts/Pacifico.ttf');

  /*TODO add eot file for IE*/
}

@font-face {
  font-family: "Raleway-Regular";
  src: url('../fonts/Raleway-Regular.ttf');

  /*TODO add eot file for IE*/
}

@font-face {
  font-family: "Georgia";
  src: url('../fonts/Georgia.ttf');
}

@font-face {
  font-family: "GeorgiaItalic";
  src: url('../fonts/GeorgiaItalic.ttf');
}

@font-face {
  font-family: "MuseoSlab500";
  src: url('../fonts/Museo_Slab_500.otf');
}

@font-face {
  font-family: "LatoRegular";
  src: url('../fonts/Lato-Reg.ttf')
}

@font-face {
  font-family: "LatoBold";
  src: url('../fonts/Lato-Bol.ttf')
}

@font-face {
  font-family: "LatoLight";
  src: url('../fonts/Lato-Lig.ttf')
}

@font-face {
  font-family: "SofiaRegular";
  src: url('../fonts/Sofia-Regular.otf');
}

@font-face {
  font-family: "PeregroyJF";
  src: url('../fonts/Peregroyjf.ttf');
}

@font-face {
  font-family: "MissionScript";
  src: url('../fonts/Mission-Script.otf');
}
/*Typography*/

.landing-heading {
  font-family: LatoRegular;
  font-size: 24.2pt;
  margin-bottom: 3px;
}

.landing-subheading {
  font-family: MuseoSlab500;
  font-size: 21.5pt;
  color: #7bc1c9;
}

.landing-paragraph {
  font-family: Raleway-Regular;
  font-size: 12pt;
  color: #a7a7a7;
}

.menu-item {
  font-family: Montserrat-Regular;
  font-size: 10pt;
  color: #a7a7a7;
}

.contact-form-field {
  font-family: GeorgiaItalic;
  background-color: #f2f2f2;
}

.copyright {
  font-family: Raleway-Regular;
  font-size: 12pt;
  margin-top: 18px;
  color: #6e6e6e;
}

.team-description {
  font-family: GeorgiaItalic;
  font-weight: bold;
}

.team-email {
  font-family: GeorgiaItalic;
  margin-bottom: 0;
}

.team-member {
  font-family: Montserrat-Regular;
  font-size: 15pt;
}

.blog-title {
  font-family: MissionScript;
  margin-top: 50px;
  margin-bottom: 70px;
  letter-spacing: 2px;
}

.navbar-default .navbar-nav>li>a {
  color: gray;
}

.navbar-default .navbar-nav>li>a:hover {
  color: black;
}

/*-----------------------------------------*/
/*body {*/
  /*padding-top: 105px;*/
/*}*/

#header-navbar {
  padding: 0;
  margin: 0;
}

footer {
  background-color: #4f4f4f;
  height: 50px;
  margin-top: 10px;
}

.social-footer {
  margin-top: 5px !important;
  -webkit-filter: grayscale(0%) contrast(100%);
  filter: grayscale(0%) contrast(100%);
}

.social-footer:hover {
  -webkit-filter: grayscale(100%) contrast(300%);
  filter: grayscale(100%) contrast(300%);
}

.btn-send {
  color: white;
  background-color: #6ebec7;
  border-color: white;
  border: 2px;
}

.input-lg {
  height: 76px;
}

.form-control {
  margin-top: 20px;
  border-radius: 0;
}

.glyphicon {
  padding-right: 10px;
}

.navbar {
  height: 110px;
  margin-bottom: 0;
  background-color: white;
}

.navbar-transparent {
  border-color: white;
  border-color: rgba(255, 255, 255, 0.2);
  /* Fallback for web browsers that don't support RGBa */
  background-color: white;
  /* RGBa with 0.6 opacity */
  background-color: rgba(255, 255, 255, 0.7);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ffffff);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ffffff)";
}

.navbar-brand {
  height: auto;
}

.work-caption {
  position: absolute;
  top: 60px;
  text-align: center;
  width: 85%;
  display: none;
}

.work-caption h3 {
  font-family: MissionScript;
  color: white;
  font-size: 35pt;
  letter-spacing: 1.5px;
}

.work-thumbnail {
  margin-bottom: 50px;
  position: relative;
}

.work-thumbnail:hover {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.work-thumbnail:hover .work-caption {
  display: inline;
}

.img-team {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 5px solid white;
}

.btn-down {
  width: 65px;
  height: auto;rgba(255, 255, 255, 0.4);
  margin-bottom: -10px;
}

.btn-transparent {
  opacity: 0.9;
}

.btn-transparent:hover {
  opacity: 1;
}

.img-center.img-responsive {
  margin-left: auto;
  margin-right: auto;

  margin-top: 10px;
  margin-bottom: 5px;
}
    
.landing-separator {
  margin: 0;
  border: none;
  height: 2px;
  color: #303030;
  background-color: #303030;
}

.landing-paragraph {
  margin-bottom: 20px;
}

ul.nav {
  margin-top: 30px;
}

#team {
  background-color: #f3f3f3;
  padding-bottom: 70px;
}

.carousel,
.item,
.active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel-indicators {
    margin-bottom: -15px;
}

.carousel-indicators li {
  background-color: white;
  border-color: lightgray;
}

.carousel-indicators .active {
    background-color: #7bc1c9;
    border-color: #7bc1c9;
}

.panel-team.panel-default {
  border-radius: 0;
  border-color: white;
  height: 305px;
}

.shadowed {
  filter: drop-shadow(1px 1px 1px lightgray);
  -webkit-filter: drop-shadow(1px 1px 1px lightgray);
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.navbar-logo {
  padding: 15px 15px;
}

.col-centered {
  text-align: center;
}

#up-button {
  margin-top: 15px;
}

#carousel-work {
  margin-bottom: 30px;
}


/*Blog*/

.blog-content .row {
  margin-bottom: 5px;
}